[user]
	email = andy.hu@geekbang.com
[core]
	excludesfile = /Users/andyhu/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	st = status
	ci = commit
	cim = commit -m
	co = checkout
	cob = checkout -b
	b = branch
	a = add
	r = remote
	pl = pull
	ps = push
	di = diff
	l = log
	ba = branch --all
